.selector {
  // Positioning
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  // Display & Box Model
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid #333;
  margin: 10px;

  // Color
  background: #000;
  color: #fff;

  // Text
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  // Other
  cursor: pointer;
}

body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

input {
  outline: 0;
  background-color: transparent;
  border: 0;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

hr {
  opacity: 0.1;
  width: 100%;
}

a {
  color: black;
}


.btn {
  border: 0;
  border-radius: 40px;
  color: white;
  outline: 0;

  &--primary {
    background-color: black;
  }
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}
